#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  overflow: hidden;
}

.row{
  display: flex;
  flex-direction: row;
}

.cell{
  width: 45px;
  height: 45px;
  border:1px solid white;
}

.cell.start{
  background-color: green;
}

.cell.block{
  background-color: black;
}

.cell.path{
  background-color: white;
}

.cell.end{
  background-color: red;
}

.container{
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}


.cell.player {
  background-color: blue;
}
.cell.enemy {
  background-color: purple;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.message {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
}
.reset-button {
  margin-top: 20px;
  background-color: #4c4faf;
  border-radius: 5px;
}

.reset-button:hover {
  background-color: #10319d;
}