#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-direction: row;
}

.cell{
  width: 45px;
  height: 45px;
  border:1px solid white;
}

.cell.start{
  background-color: green;
}

.cell.block{
  background-color: black;
}

.cell.path{
  background-color: white;
}

.cell.end{
  background-color: red;
}

.container{
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}


.cell.player {
  background-color: blue;
}